#companies
  .container
    %h2.section_header
      %hr.left.visible-desktop
      %span
        Sponsors
      %hr.right.visible-desktop
      .row
        .span12
          %ul.companies
            %li
              %figure
                %a{:href=>"http://www.oops.se/", :target=>"_blank"}
                  %img.thumb{:alt => "Oops", :src => "img/sponsors/oops.png"}
            %li
              %figure
                %a{:href=>"http://www.nuagenetworks.net/", :target=>"_blank"}
                  %img.thumb{:alt => "Nuage Networks", :src => "img/sponsors/nuage-networks.png"}
            %li
              %figure
                %a{:href=>"http://www.rwelephant.com", :target=>"_blank"}
                  %img.thumb{:alt => "RWElephant", :src => "img/sponsors/rw-elephant.png"}